.carousel-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 265px;
  overflow: hidden;
  position: relative;
  padding-top: 15px;

  @media (max-width: 767px) {
    margin-left: -18px;
    margin-right: -24px;
  }

  @media (min-width: 576px) {
    height: 215px;
  }

  @media (min-width: 768px) {
    height: 363px;
    margin-left: -40px;
  }

  @media (min-width: 1200px) {
    height: 365px;
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: 1400px) {
    margin-left: 15px;
  }

  @media (min-width: 2300px) {
    height: 380px;
    margin-left: -555px;
    width: 2231px;
  }

  &:before {
    background: linear-gradient(90deg, rgba($aboutBgc, 1) 0%, rgba($aboutBgc, 1) 10%, rgba($aboutBgc, 0.75) 30%, rgba($white, 0) 100%);
    content: '';
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 524px;
    z-index: 10;

    @media (min-width: 2300px) {
      display: block;
    }
  }

  &:after {
    background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($aboutBgc, 0.75) 70%, rgba($aboutBgc, 1) 90%, rgba($aboutBgc, 1) 100%);
    content: '';
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 524px;
    z-index: 10;

    @media (min-width: 768px) and (max-width: 1199px) {
      display: block;
      width: 20%;
    }

    @media (min-width: 2300px) {
      display: block;
    }
  }
}

.slider-container {
  overflow: visible;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    margin-left: -30px;
  }

  @media (min-width: 1200px) {
    margin-left: -30px;
  }

  @media (min-width: 2300px) {
    margin-left: -25px;
  }
}

.slider {
  display: flex;
  position: relative;
  --pseudohider-width: 50px;

  &-margin {
    margin-left: 2px;
  }

  &:not(.no-transition) {
    transition: transform .5s;
  }

  &-controls {
    position: absolute;
    top: 50%;
    z-index: 150;

    @media (min-width: 768px) {
      top: calc(50% - 35px);
    }

    @media (min-width: 1200px) {
      top: calc(50% - 65px);
    }

    &-left {
      left: 0;
      transform: rotate(180deg);
    }

    &-right {
      right: 0;

      @media (min-width: 768px) {
        right: calc(25% - 15px);
      }

      @media (min-width: 1200px) {
        right: 0;
      }
    }

    img {
      cursor: pointer;
      height: 30px;

      @media (min-width: 768px) {
        height: 45px;
      }

      &:hover {
        filter: brightness(0.25);
      }
    }
  }

  &-pills {
    bottom: 65px;
    margin-bottom: 10px;
    position: relative;
    right: -3px;
    z-index: 2;

    @media (min-width: 768px) {
      bottom: 14px;
      margin-top: -10px;
      right: 28px;
    }

    @media (min-width: 992px) {
      right: 270px;
    }

    @media (min-width: 1000px) {
      right: 270px;
    }

    @media (min-width: 1200px) {
      bottom: -77px;
      margin-top: -40px;
      right: 32px;
    }

    @media (min-width: 1400px) {
      right: 115px;
    }
    @media (min-width: 2000px) {
      right: 110px;
    }
  }

  &-pill {
    bottom: 183px;
    height: 28px;
    position: relative;
    right: 26px;
    width: 26px;
    z-index: 101;


    &-second {
      bottom: 223px;
      left: 22px;
      position: relative;
    }


    @media (min-width: 768px) {
      height: 33px;
      margin-top: 32px;
      width: 92px;
    }

    @media (min-width: 1200px) {
      top: 33px;
    }
  }

  &-space {
    background: $aboutBgc;
    height: 300px;
    width: 100%;
  }

  &-bgc {
    background: $aboutBgc;
    justify-content: center;

    @media (min-width: 768px) {
      padding-left: 5px;
    }

    @media (min-width: 1400px) {
      justify-content: center;
      margin-left: -60px;
      padding-left: 0;
    }
  }

  &-star {
    position: relative;
    top: 59px;

    @media (min-width: 1200px) {
      top: 121px;
    }
  }

  &-people {
    position: relative;
    top: 5px;
    z-index: 2;

    @media (min-width: 768px) {
      position: relative;
      top: 17px;
    }

    @media (min-width: 1200px) {
      position: relative;
      top: 25px;
    }

    @media (min-width: 1400px) {
    }

    @media (min-width: 768px) and (max-width: 900px) {
      right: 0;
    }
  }

  &-heading {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 33px;

    @media (min-width: 768px) {
      font-size: 35px;
      line-height: 46px;
    }

    @media (min-width: 1200px) {
      font-size: 45px;
      line-height: 60px;
      margin-left: 45px;
      max-width: 82%;
    }

    @media (min-width: 1400px) {
      margin-left: 60px;
      max-width: 72%;
    }

    @media (min-width: 2000px) {
      font-size: 57px;
      line-height: 72px;
      max-width: 848px;
    }
  }

  &-content {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    span {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 900;
    }

    @media (min-width: 768px) {
      font-size: 19px;
      line-height: 30px;
      max-width: 90%;
    }

    @media (min-width: 1200px) {
      font-size: 23px;
      line-height: 32px;
      margin-left: 45px;
      max-width: 97%;
    }

    @media (min-width: 1400px) {
      margin-left: 60px;
      max-width: 83%;
    }

    @media (min-width: 2000px) {
      line-height: 33px;
    }
  }

  &-cases {
    bottom: 48px;
    color: $mainBlue;
    font-family: Caveat, sans-serif;
    font-size: 24px;
    margin: 20px 0 35px 0;

    @media (min-width: 768px) {
      bottom: -12px;
      font-size: 27px;
    }

    @media (min-width: 1200px) {
      bottom: -37px;
      margin-bottom: 30px;
    }

    @media (min-width: 1400px) {
      margin-left: 60px;
    }

    @media (min-width: 2000px) {
      font-size: 39px;
      margin-bottom: 20px;
    }
  }

  &-software {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    position: relative;

    span {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 900;
    }

    @media (min-width: 768px) {
      font-size: 19px;
      line-height: 26px;
      margin-top: -10px;
      max-width: 89%;
      position: relative;
    }

    @media (min-width: 1200px) {
      font-size: 23px;
      line-height: 32px;
      margin-bottom: 70px;
      margin-top: 40px;
    }

    @media (min-width: 1400px) {
      margin-left: 60px;
    }
  }

  &-top {
    &-container {
      padding-left: 20px;
      padding-right: 26px;
      position: relative;

      @media (min-width: 768px) {
        padding-left: 27px;
        padding-right: 0;
      }

      @media (min-width: 1200px) {
        padding-left: 65px;
      }

      @media (min-width: 1400px) {
        padding-left: 55px;
      }
    }
  }

  &-try {
    &-btn {
      background: transparent linear-gradient(90deg, $greenBgcDark 0%, $greenBgcBright 100%) 0 0 no-repeat padding-box;
      border-radius: 33px;
      color: $white;
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 700;
      font-size: 19px;
      height: 40px;
      line-height: 24px;
      margin-bottom: 10px;
      padding: 6px 12px;
      position: relative;
      width: 260px;
      z-index: 1;

      &:hover {
        background: transparent linear-gradient(90deg, $greenBgcDark 100%, $greenBgcBright 0%) 0 0 no-repeat padding-box;
      }


      @media (min-width: 768px) {
        font-size: 22px;
        height: 58px;
        margin-bottom: 55px;
        margin-top: 0;
        width: 406px;
      }

      @media (min-width: 1200px) {
        border-radius: 33px;
        font-size: 26px;
        height: 60px;
        margin-bottom: 55px;
        margin-top: 5px;
        padding: 12px;
        position: relative;
        width: 416px;
      }

      @media (min-width: 1400px) {
        margin-left: 60px;
      }

      @media (min-width: 2000px) {
        font-size: 28px;
        margin-bottom: 60px;
      }

      &-text {
        color: $white;
        text-decoration: none;

        @media (min-width: 768px) {
          padding: 12px
        }

        @media (min-width: 1200px) {
          padding: 9px;
        }

      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &-transform {
    padding-left: 12px;
    padding-right: 30px;

    @media (min-width: 768px) {
      padding-left: 45px;
      padding-right: 44px;
    }
  }

  &-title {
    bottom: 35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    margin: 10px 20px 0 20px;
    position: absolute;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 19px;
      margin: 0 20px 7px 30px;
    }

    @media (min-width: 1200px) {
      bottom: 45px;
      font-size: 20px;
    }

    @media (min-width: 2000px) {
      font-size: 20px;
    }
  }

  &-subtitle {
    color: $mainBlue;
    font-family: Caveat, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    left: 52px;
    line-height: 10px;
    margin: 0 20px 0 20px;
    position: absolute;
    top: -25px;
    white-space: nowrap;

    @media (min-width: 768px) {
      font-size: 30px;
      left: 71px;
      margin: 0 20px 13px 30px;
    }

    @media (min-width: 1200px) {
      font-size: 40px;
      left: 105px;
      margin: 0 20px 13px 10px;
    }
  }

  &-stars {
    bottom: 0;
    margin: 0 20px 10px 20px;
    position: absolute;

    img {
      width: 69px;
    }

    @media (min-width: 768px) {
      line-height: 20px;
      margin: 0 20px 13px 30px;

      img {
        width: 117px;
      }
    }

    @media (min-width: 1200px) {
      bottom: 10px;
      margin: 10px 20px 13px 30px;
    }
  }

  &-text {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: -25px 20px 0 20px;
    position: absolute;
    top: 10px;

    @media (max-width: 767px) {
      top: 50px;
    }

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      margin: 20px 20px 13px 30px;
    }

    @media (min-width: 1200px) {
      font-size: 18px;
      height: 196px;
      line-height: 28px;
      margin: 20px 25px 25px 30px;
    }

    @media (min-width: 2000px) {
      font-size: 18px;
    }

    span {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 900;
    }
  }

  &-btns {
    bottom: 70px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: relative;
    right: -6px;

    @media (min-width: 768px) {
      position: relative;
      top: 50px;
    }
  }

  &-btn {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
    padding: 0;

    &-next {
      left: 9px;
      position: relative;
      top: -3px;

      img {
        background-color: transparent;

        @media (min-width: 768px) {
          width: 20px;
        }

        @media (min-width: 1200px) {
          bottom: 266px;
          position: relative;
          right: 338px;
          width: 26px;
        }

        @media (min-width: 1400px) {
          bottom: 266px;
          position: relative;
          right: -139px;
          width: 26px;
        }

        @media (min-width: 2000px) {
          right: -135px;
        }
      }

      @media (min-width: 768px) {
        left: -512px;
        top: -102px;
      }

      @media (min-width: 2000px) {
        left: unset;
        position: absolute;
        right: -150px;
        z-index: 15;
      }
    }

    &-prev {
      border-bottom-left-radius: 23px;
      border-top-left-radius: 23px;
      left: 7px;
      position: relative;
      top: -4px;

      img {
        position: relative;
        right: 0;
        transform: rotate(180deg);

        @media (min-width: 768px) {
          width: 20px;
        }

        @media (min-width: 992px) {
          right: -241px;
        }

        @media (min-width: 1200px) {
          bottom: 257px;
          right: 17px;
          width: 26px;
        }

        @media (min-width: 1400px) {
          right: -70px;
        }
      }

      @media (min-width: 768px) {
        left: 23px;
        top: -77px;
      }

      @media (min-width: 2000px) {
        left: 10px;
        position: absolute;
        z-index: 15;
      }
    }
  }

  &-whole-wrapper {
    background-color: $aboutBgc;
  }
}

.slide:not(.slider-container) {
  background: $white;
  border: 1px solid $mainSlideBorder;
  border-radius: 3px;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  height: 210px;
  justify-content: center;
  margin: 30px 35px 30px 10px;
  position: relative;

  @media (min-width: 440px) {
    height: 180px;
  }

  @media (min-width: 576px) {
    height: 160px;
  }

  @media (min-width: 768px) {
    flex: 0 0 75%;
    height: 265px;
    margin: 22.5px;
  }

  @media (min-width: 1200px) {
    flex: 0 0 calc((100% - 45px) / 2);
    height: 285px;
  }

  @media (min-width: 2300px) {
    flex: 0 0 calc((100% - 45px) / 4);
    height: 300px;
  }


  &::before {
    background-image: url("~/assets/icons/comma.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 23px;
    left: 20px;
    padding-left: 10px;
    padding-right: 38px;
    position: absolute;
    top: -10px;
    width: 28px;

    @media (min-width: 768px) {
      left: 30px;
      padding-right: 58px;
    }

    @media (min-width: 1200px) {
      padding-left: 68px;
      padding-right: 28px;
    }
  }

  &::after {
    background-image: url("~/assets/icons/comma.svg");
    background-position: center;
    background-repeat: no-repeat;
    bottom: -10px;
    content: ' ';
    display: block;
    height: 23px;
    padding-left: 10px;
    padding-right: 38px;
    position: absolute;
    right: 20px;
    width: 28px;

    @media (min-width: 768px) {
      padding-right: 58px;
      right: 30px;
    }

    @media (min-width: 1200px) {
      padding-left: 68px;
      padding-right: 28px;
    }
  }
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity-up {
  animation: opacity-up 1.5s ease-in;
}

.opacity-down {
  animation: opacity-down 1.5s ease-in;
}
